<tr>
  <td><strong><%=link_to registered_application.name, [current_user, registered_application] %></strong></td>
  <td><%= registered_application.url %></td>
  <td><%= link_to 'Edit', edit_user_registered_application_path(current_user, registered_application), class: 'btn btn-primary btn-sm' %> |
  <%= link_to 'Delete', [current_user, registered_application], method: :delete,  class: 'btn btn-danger btn-sm', data: {confirm: "Are you sure you want to stop tracking this application?"} %></td>
</tr>

